 .screen-reader-text {
     border: 0;
     clip: rect(1px, 1px, 1px, 1px);
     clip-path: inset(50%);
     height: 1px;
     margin: -1px;
     overflow: hidden;
     padding: 0;
     position: absolute;
     width: 1px;
     word-wrap: normal !important;
 }
 
 .screen-reader-text:focus {
     background-color: #eee;
     clip: auto !important;
     clip-path: none;
     color: #444;
     display: block;
     font-size: 1em;
     height: auto;
     left: 5px;
     line-height: normal;
     padding: 15px 23px 14px;
     text-decoration: none;
     top: 5px;
     width: auto;
     z-index: 100000;
     /* Above WP toolbar. */
 }
 
 body {
     @include font(standard, regular);
     line-height: 1.3;
     color: $default-text-color;
     overflow-x: hidden;
     //overflow-y: visible;
     box-sizing: border-box;
 }
 
 html {
     scroll-behavior: smooth;
     @include font(standard, regular, body-mobile);
     @media screen and (min-width: $tablet_width) {
         @include font-size(standard, body-desktop);
     }
 }
 
 .wrapper {
     @include wrapper;
 }
 
 .wrapper.no-padding {
     margin: auto;
     width: 100%;
     box-sizing: border-box;
     padding-left: 0;
     padding-right: 0;
     max-width: $wrapper_width;
 }
 
 .wrapper-narrow-container {
     @include wrapper-narrow-container;
 }
 
 .wrapper-narrow {
     @include wrapper-narrow;
 }
 
 .narrow-form {
     form {
         @include wrapper-narrow;
         margin-left: auto;
         margin-right: auto;
     }
 }
 
 .posts-navigation {
     text-align: center;
     margin: 2em 0;
     .nav-links>div {
         display: inline-block;
         padding: 0 1em;
     }
 }
 
 // Font font-familly
 /*
.font-title {
  @include font(title);
  &.regular { @include font(title, regular);}
  &.bold {    @include font(title, bold);}
  &.black {   @include font(title, black);}
}
.font-standard {
  @include font(standard);
  &.regular { @include font(standard, regular);}
  &.bold {    @include font(standard, bold);}
  &.black {   @include font(standard, black);}
}
.font-cursive {
  @include font(cursive);
  &.regular { @include font(cursive, regular);}
  &.bold {    @include font(cursive, bold);}
  &.black {   @include font(cursive, black);}
}
*/
 
 .tiny-hidden {
     @media screen and (max-width: $mobile_width - 1) {
         display: none;
         visibility: hidden;
     }
 }
 
 .mobile-hidden {
     @media screen and (max-width: $tablet_width - 1) {
         display: none;
         visibility: hidden;
     }
 }
 
 .mobile-xl-hidden {
     @media screen and (min-width: $mobile_width) and (max-width: $tablet_width - 1) {
         display: none;
         visibility: hidden;
     }
 }
 
 .tablet-hidden {
     @media screen and (min-width: $tablet_width) and (max-width: $desktop_width - 1) {
         display: none;
         visibility: hidden;
     }
 }
 
 .desktop-hidden {
     @media screen and (min-width: $desktop_width) {
         display: none;
         visibility: hidden;
     }
 }
 
 a.blue {
     text-decoration: none;
     &:link,
     &:visited {
         color: $blue-regular;
     }
     &:hover,
     &:active,
     &:focus {
         color: $blue-light;
     }
 }
 
 // Font color
 .white {
     color: $white;
 }
 
 .white a,
 a.white {
     transition: color .2s;
     border: 1px solid transparent;
     &:link,
     &:visited {
         color: $white;
     }
     &:hover,
     &:active {
         color: $blue-light;
     }
     &:focus {
         color: $blue-light;
         border-bottom: 1px solid currentColor;
     }
 }
 
 .light-blue {
     color: $blue-light;
 }
 
 // Background color
 .white-bg {
     background: $white;
 }
 
 .blue-bg {
     background: $blue-regular;
 }
 
 .light-blue-bg {
     background: $blue-light;
 }
 
 .light-grey-bg {
     background: $grey-lgt;
 }
 /* Image filter */
 
 #masthead .white-img,
 #footer .white-img {
     filter: brightness(4) saturate(0%);
 }
 
 .underline {
     padding-bottom: 4rem;
     margin-bottom: 0;
     position: relative;
     &:after {
         position: absolute;
         bottom: 2.5rem;
         left: 0;
         width: 10rem;
         height: 0.25rem;
         content: "";
         background: $blue-regular;
     }
     &.center {
         &:after {
             left: 50%;
             transform: translate(-50%, 0);
         }
     }
     &.underline-white::after {
         background: $white;
     }
     &.small-margin {
         margin-bottom: 0;
         padding-bottom: 2rem;
         &:after {
             position: absolute;
             bottom: 1rem;
         }
     }
 }
 
 .center {
     text-align: center;
 }
 
 .left {
     text-align: left;
 }
 
 .right {
     text-align: right;
 }