 /* Normalize */
 /* Main column width */
 
 .wp-block {
     max-width: 1200px;
 }
 /* Width of "wide" blocks */
 
 .wp-block[data-align="wide"] {
     max-width: 1200px;
 }
 /* Width of "full-wide" blocks */
 
 .wp-block[data-align="full"] {
     max-width: none;
 }
 
 @import "node_modules/node-normalize-scss/normalize";
 @import "sass/mixins";
 @import "sass/variables";
 //@import "sass/global";
 @import "sass/site/site";
 @import "sass/template/template";
 @import "sass/block/block";