// Input style (excluding Wordpress admin)
label {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    display: block;
}
// Checkbox style
.checkbox {
    font-size: .7rem;
    label {
        display: inline;
        margin-left: 0.5rem;
    }
}
.checkbox+.checkbox {
    margin-top: 1rem;
    &.no-margin {
        margin-top: 0;
    }
}
.upload-button {
    position: relative;
    height: 8rem;
    border: 1px solid $blue-regular;
    input {
        width: 100%;
        height: 100%;
        padding: 5.5rem 1rem 1rem 1rem;
        text-align: center;
        box-sizing: border-box;
    }
    p {
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        @include font-weight(standard, bold);
        font-size: 1.25rem;
        top: 1rem;
        i {
            display: block;
            @include font-weight(standard, regular);
            font-size: 1rem;
            font-style: normal;
        }
    }
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    font-size: 1rem;
    -webkit-backface-visibility: hidden;
    //background: $white;
    border: solid 1px transparent;
    &.input-brd {
        border: solid 1px $blue-regular;
    }
    box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
    outline-offset: 0;
    border-radius: 0;
    width:100%;
    color: $blue-regular;
    padding: 0.5rem 1rem;
    &:focus {
        border-color: $blue-light;
        color: $blue-regular;
        transition: all .4s;
        &::placeholder {
            opacity: 0;
        }
    }
    &::placeholder {
        color: $grey-form;
        opacity: 1;
    }
}


@mixin button {
    @include font-weight(standard, bold);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    -webkit-backface-visibility: hidden;
    background: $blue-light;
    display: inline-block;
    padding: 0.5em 2em;
    border: solid 1px transparent;
    box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
    outline-offset: 0;
    border-radius: 0;
    margin-top: 1em;
    color: $white;
    text-decoration: none;
    cursor: pointer;
    transition: all .2s;
    &.no-margin {
        margin-top: 0;
    }
    &:hover {
        background: lighten($blue-regular, 10);
    }
    &:active,
    &:focus {
        color: $blue-light;
        background: $white;
        border-color: $blue-light;
    }
}

#content input[type="button"],
#content input[type="submit"],
#content button,
.button {
    @include button;
    
    &.button-purple:link,
    &.button-purple:visited
    {
        color: $white;
        background: $purple-regular;
        &:hover {
            color: $white;
            background: lighten($purple-regular, 10);
        }
        &:active,
        &:focus {
            background: $white;
            color: $purple-regular;
            border-color: $purple-regular;
        }
    }
    &.button-brd-blue:link,
    &.button-brd-blue:visited {
        color: $blue-light;
        background: transparent;
        border-color: $blue-light;
        &:hover {
            color: $white;
            background: $blue-light;
        }
        &:active,
        &:focus {
            color: $white;
            background: $blue-regular;
            border-color: $blue-regular;
        }
    }
    &.button-brd-white:link,
    &.button-brd-white:visited {
        color: $white;
        background: transparent;
        border-color: $white;
        &:hover {
            color: $blue-light;
            background: $white;
        }
        &:active,
        &:focus {
            color: $blue-light;
            background: $blue-regular;
            border-color: $blue-regular;
        }
    }
    &.button-brd-custom:link,
    &.button-brd-custom:visited {
        color: currentColor;
        background: transparent;
        border-color: currentColor;
        &:hover,
        &:active,
        &:focus {
            color: $white;
            background: $blue-light;
            border-color: $blue-light;
        }
    }
}
.white .button {
    &:link,
    &:visited {
        color: $white;
    }

}
button.reset {
    padding: initial;
    border: solid 1px rgba(0, 0, 0, 0);
    box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
    outline-offset: 0;
    border-radius: 0;
    color: initial;
    cursor: pointer;
    transition: all .2s;
}

// Form style
form {
    //white form -> grey input
    &.form-white-background {
        background: $white;
        input:not(.button),
        textarea {
            background: $grey-lgt;
        }
    }
    //grey form -> white input
    &.form-grey-background {
        background: $grey-lgt;
        input:not(.button),
        textarea {
            background: $white;
        }
    }
    p {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    // Form with half width input (desktop devices)
    &.has-section {
        grid-gap: 1.5rem;
        display: grid;
        @media screen and (min-width: $tablet-width) {
            grid-template-columns: 1fr 1fr;
            .half-width {
                grid-column: span 1;
            }
            .full-width {
                grid-column: span 2;
            }
        }
        .contain-button {
            padding: 1rem 0;
        }
    }
    // Informations style
    .formInfo {
        font-style: normal;
        font-size: 0.75rem;
        color: $grey-dark;
        display: block;
        margin: auto;
        margin-top: 1rem;
        max-width: 80ch;
        a:link,
        a:visited {
            color: $grey-dark;
            transition: color .2s;
        }
        a:hover,
        a:focus {
            color: $blue-regular;
        }
        a:active {
            color: $blue-light;
        }
    }
}

.hiddenSubmitButton {
    visibility: hidden;
    transition: visibility 1s;
}

#ResponseMessage {
    visibility: hidden;
    transition: visibility 1s;
    &.showResponseMessage {
        visibility: visible;
    }
}

#contact-details {
    padding-bottom: 10vw;
    .contact-loop {
        display: grid;
        @include grid-gap;
        grid-template-columns: 1fr;
        @media screen and (min-width: $mobile_width) {
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            align-items: center;
            @media screen and (min-width: $tablet_width) {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
    h3 {
        margin-bottom: 0.25rem;
    }
}