// Width of the new 'contact' button
$btn-contact: 120px;
$btn-search: 40px;
#masthead {
    width: 100%;
    z-index: $index-navigation;
    color: $white;
    background: $blue-regular;
    position: relative;
    overflow: visible;
    @include spacing(padding-top, $spacing-tiny);
    @include spacing(padding-bottom, $spacing-tiny);
    @include font(standard, regular);
    box-sizing: border-box;
    height: 50px;
    //Tablet screens
    @media screen and (min-width: $tablet_width) {
        height: 100px;
        //Desktop screens
        @media screen and (min-width: $desktop_width) {
            height: 100px;
        }
    }
    //Logo
    #topbar-logo {
        z-index: -1;
        position: fixed;
        @include spacing(top, $spacing-tiny);
        @include spacing(left, $spacing-regular);
        transition: padding-top .2s;
        //tablet screens
        @media screen and (min-width: $tablet_width) {
            padding-top: 10px; // disappears when #masthead gets sticky
            //Wide screens
            @media screen and (min-width: $desktop_width) {
                left: 50%;
                transform: translate(-50%, 0);
                width: 100%;
                @include max-width($wrapper_width, $spacing-regular);
            }
        }
        #topbar-logo-content {
            display: inline-block;
            //margin-top: 5px;
            height: 20px;
            //float: left;
            transition: height .2s;
            @media screen and (min-width: $mobile_width) {
                //margin-top: 0;
                height: 30px;
                @media screen and (min-width: $tablet_width) {
                    height: 40px;
                }
            }
            a {
                display: inline-block;
                //float: left:
                //border: 1px solid green;
                width: 100%;
                height: 100%;
                //margin-right: auto;
                max-width: 200px;
                @media screen and (max-width: $tablet-width) {
                    max-width: 140px;
                    @media screen and (max-width: $mobile-width) {
                        max-width: 100px;
                        margin-top: 0.25rem;
                    }
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                //margin-right: auto;
            }
        }
    }
    // Burger Menu, for mobile only
    @media screen and (max-width: $tablet_width) {
        #link-menu {
            display: block;
            width: 40px;
            height: 30px;
            box-sizing: border-box;
            color: $white;
            position: fixed;
            background: $blue-regular;
            font-size: 10px; //test
            padding: 0;
            cursor: pointer;
            @include spacing(top, $spacing-tiny);
            @include spacing(right, $spacing-regular);
            margin: 0;
            transition: all .2s;
            &:hover {
                background: lighten($blue-regular, 10);
            }
            &:focus {
                background: $blue-light;
                color: $white;
            }
            &:active {
                background: $white;
                color: $blue-light;
            }
            #burger-menu-1,
            #burger-menu-2,
            #burger-menu-3 {
                float: left;
                display: block;
                color: inherit;
                width: 30px;
                margin-left: 5px;
                height: 3px;
                border-radius: 1.5px;
                background: currentColor;
                opacity: 1;
                transition: all .2s;
            }
            #burger-menu-1 {
                transform: translate(0, 5px);
            }
            #burger-menu-2 {
                transform: translate(0, 10px);
            }
            #burger-menu-3 {
                transform: translate(0, 15px);
            }
            // When menu is open, #link-menu gets .close-menu
            &.close-menu {
                #burger-menu-1 {
                    transform: translate(0, 14px) rotate(45deg);
                }
                #burger-menu-2 {
                    opacity: 0;
                }
                #burger-menu-3 {
                    transform: translate(0, 8px) rotate(-45deg);
                }
            }
        }
    }
    #menu {
        width: 100%;
        display: block;
    }
}

#topbar-wrapper {
    padding: 0;
    margin: auto;
    @include max-width($wrapper_width, $spacing-regular);
}

#menu-primary {
    z-index: $index-navigation;
    width: 100%;
    box-sizing: border-box;
    transition: all .2s;
    @include spacing(padding-bottom, $spacing-tiny);
    @media screen and (min-width: $tablet_width) {
        position: fixed;
        text-align: right;
        right: (map-get($spacing-regular, $tablet_width));
        //right: [.wrapper padding] - #menu-search width
        left: unset;
        top: 28px;
        margin-top: 35px; // disappears when #masthead gets .sticky
        @media screen and (min-width: $desktop_width) {
            right: unset;
            left: 50%;
            transform: translate(-50%, 0);
            width: $wrapper_width - ( map-get($spacing-regular, $desktop_width) * 2) - 80px - 200px;
            //width:  [.wrapper max-width  - [.wrapper padding * 2]] - #menu-search width * 2 - lo width
        }
    }
}

#menu-secondary {
    transition: all .2s;
    @media screen and (min-width: $tablet_width) {
        float: right;
        margin-left: 10px;
    }
}

// Scroll is allowed if menu-mobile is too height
#menu-mobile-container {
    @media screen and (max-width: $tablet_width) {
        z-index: $index-navigation - 1;
        top: 0;
        left: 0;
        position: fixed;
        display: block;
        overflow-x: hidden;
        overflow-y: scroll;
        scroll-behavior: smooth;
        height: 100%;
        max-height: 100vh;
        background: $blue-green;
        //padding-bottom: 50px; // topbar height
        box-sizing: border-box;
        width: 100%;
        transform: translate(-105%, 50px);
        &.openMenu {
            transform: translate(0, 50px);
        }
        #menu-primary,
        #menu-secondary {
            position: unset;
            display: block;
            height: auto;
            overflow-y: hidden;
            overflow-x: hidden;
        }
    }
}

#topbar-social {
    float: right;
}

#menu-translate {
    height: 25px;
    width: 30px;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    padding-top: 0;
    border-bottom: 1px solid $white;
    transition: background-color .2s;
    z-index: $index-navigation;
    float: right;
    margin-left: 10px;
    margin-right: 40px;
    font-weight: 700;
    cursor: pointer;
    &:hover {
        color: $blue-light;
    }
    &:focus,
    &:active {
        background: $blue-light;
    }
    @media screen and (min-width: $desktop_width) {
        margin-right: 0;
    }
    @media screen and (max-width: $tablet_width) {
        float: none;
        position: fixed;
        right: map-get($spacing-regular, $tablet_width);
    }
    a,
    a:visited {
        color: inherit;
        text-decoration: none;
    }
}

// Menu style
#menu-search {
    position: fixed;
    //final version, with menu-translate enabled
    margin-right: 80px;
    // Temporary version, without menu-translate disabled
    //margin-right: 40px;
    right: map-get($spacing-regular, $tablet_width);
    @media screen and (min-width: $tablet_width) {
        //right: map-get($spacing-regular, $tablet_width);
        margin-right: 0;
        text-align: right;
        left: unset;
        top: 20px;
        margin-top: 32px; // disappears when #masthead gets .sticky
        width: $tablet_width -200px;
        margin-left: 100px;
        @media screen and (min-width: $desktop_width) {
            //right: map-get($spacing-regular, $tablet_width);
            right: unset;
            left: 50%;
            transform: translate(-50%, 0);
            width: $wrapper_width - ( map-get($spacing-regular, $desktop_width) * 2) -200px - 80px;
            //margin-left: 100px;
        }
    }
    #icon-search {
        //background-color: $blue-regular;
        transition: background-color .2s;
        padding: 4px;
        @media screen and (min-width: $desktop_width) {
            margin-top: 8px;
        }
        &:hover {
            //background: $blue-green;
        }
        &:active,
        &:focus {
            //background: $blue-medium;
            outline: 0;
        }
    }
    #form-search {
        position: fixed;
        z-index: $index-searchbar;
        left: 50%;
        top: 50px;
        width: 100vw;
        max-height: 0px;
        box-sizing: border-box;
        opacity: 0;
        overflow: none;
        transform: translate(-50%, 0%);
        transition: padding-bottom .2s, padding-top .2s, opacity .2s;
        padding-top: 0;
        padding-bottom: 0;
        &:focus,
        &:focus-within,
        &.openSearchbar {
            padding-top: 1rem;
            padding-bottom: 1rem;
            max-height: unset;
            opacity: 1;
            transition: max-height .2s, padding-bottom .2s, padding-top .2s, opacity .2s;
            #form-wrapper {
                display: grid;
                grid-template-columns: auto 10em;
                grid-gap: 1em;
            }
        }
        @media screen and (min-width: $tablet_width) {
            top: 60px;
            margin-top: 30px; // disappears when #masthead gets .sticky
            @media screen and (min-width: $desktop_width) {
                top: 50px;
                margin-top: -5px; // disappears when #masthead gets .sticky
                margin-left: -100px;
                // because of logo sticky trick
            }
        }
        #form-wrapper {
            opacity: inherit;
            display: none;
            #search,
            #send-search {
                margin: 0;
                box-sizing: border-box;
                color: white;
            }
            #send-search {
                background-color: $blue-green;
            }
            #send-search:hover,
            .button {
                background-color: $blue-medium;
            }
        }
    }
}

// On scroll, #masthead gets class .sticky
#masthead.sticky {
    @media screen and (min-width: $mobile_width) {
        #topbar-logo #topbar-logo-content {
            height: 30px;
        }
    }
    @media screen and (min-width: $tablet_width) {
        #topbar-logo {
            padding-top: 0;
        }
        #menu-search,
        #menu-primary {
            margin-top: 0rem;
            @media screen and (min-width: $desktop_width) {
                //margin-top: 0.25rem;
            }
            transition: all .2s;
            .menu-item-has-children {
                &::before {
                    margin-top: -4px;
                }
            }
            
        }
        #menu-primary{
            ul:not(.sub-menu){
                >li.current-menu-ancestor,
                >li.current_page_item,
                >li:hover {
                    >a:link,
                    >a:visited {
                        padding-bottom: 1em;
                    }
                }
            }
        }
        //@include nav-dropdown-desktop [see menu.scss for more informations]
        #menu-primary>ul>li>ul {
            //margin-top: 0.75rem;
            //transition: all .2s;
            @media screen and (min-width: $desktop_width) {
                margin-top: -2px;
                //margin-top: -0.25rem;
            }
        }
    }
}

.white-menu {
    color: $blue-regular;
    background: $white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    @include spacing(padding, $spacing-tiny);
}

#topbar-background {
    z-index: $index-navigation - 10;
    background: $blue-regular;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    //Tablet screens
    @media screen and (min-width: $tablet_width) {
        height: 60px;
        //Desktop screens
        @media screen and (min-width: $desktop_width) {
            height: 70px;
        }
    }
}

.social-icon {
    a {
        text-decoration: none;
        padding: 3px 3px 0 3px;
        display: inline-block;
        margin-right: 6px;
        transition: background-color .2s;
        img {
            height: 20px;
            width: auto;
            cursor: pointer;
            @media screen and (min-width: $tablet_width) {
                height: 14px;
            }
            &:hover {
                opacity: .8;
            }
        }
    }
    a:last-of-type {
        margin-right: 0;
    }
    // a:link {
    //     background: $blue-regular;
    // }
    // a:hover {
    //     background: lighten($blue-regular, 10);
    // }
    a:active,
    a:focus {
        background: $blue-light;
    }
}

// ---- Update : Add new 'Contact' button  ----//
#btn-contact {
    .button {
        margin-top: -0.5em;
        width: $btn-contact;
        padding: 0.25em 1em;
        text-align: center;
        background-color: $blue-green;
        font-weight: 400;
        &:hover {
            background-color: $blue-medium;
        }
    }
    // Position Mobile devices
    @media screen and (max-width: $tablet_width) {
        margin-left: 30px;
        margin-top: 2em;
        .button {
            background-color: $blue-medium;
            &:hover {
                background-color: $blue-light;
            }
        }
    }
}

// Position menu elements tablet
@media screen and (min-width: $tablet_width) {
    #menu-primary {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        z-index: -1;
        >* {
            z-index: 100;
        }
        // Desktop
        @media screen and (min-width: $desktop_width) {
            margin-left: 140px;
        }
    }
    #menu-search {
        background: rgba(green, 0.5);
    }
    #icon-search {
        position: fixed;
        z-index: 200;
        right: $btn-contact + 10px + map-get($spacing-regular, $tablet_width);
        // Desktop
        @media screen and (min-width: $desktop_width) {
            right: $btn-contact - 30px;
        }
    }
    #btn-contact {
        margin-left: $btn-search;
    }
}

// Hide somme links on mobile
@media screen and (max-width: $tablet_width) {
    #menu-primary>ul>li>ul>li>ul {
        // display: none;
    }
    #menu-secondary>ul>li>ul>li>ul {
        // display: none;
    }
}

html:lang(en-US) #menu-search{
    display: none;;
} 