#category-blog {
    padding-top: 2rem;
}
#nav-category,
#category-blog {
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
    ul,
    li {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;
    }
    li {
        margin: 0.5rem;
    }
    a:link,
    a:visited,
    .a-like {
        display: inline-block;
        color: $grey-regular;
        text-decoration: none;
        transition: color .2s, border-bottom-color .2s;
        border-bottom: 1px solid transparent;
        @extend .uppercase;
        padding-bottom: 0.5em;
        cursor: pointer;
    }
    a:hover,
    .a-like:hover {
        color: $blue-light;
        border-bottom: 1px solid $blue-light;
    }
    .active a:link,
    .active a:visited,
    a:active,
    a:focus,
    .active .a-like,
    .a-like:active,
    .a-like:focus {
        color: $blue-regular;
        border-bottom: 1px solid $blue-regular;
    }
    .current-menu-item > a,
    .active > .a-like {
        //color: $blue-regular;
        border-bottom: 1px solid $blue-regular;
    }
    h2 {
        margin-bottom: 0.5rem;
        @extend .uppercase;
        @include font(standard, regular, body-mobile);
        @media screen and (min-width: $tablet-width) {
            @include font(standard, regular, body-desktop);
        }
    }
}

#page-header,
#blog-archive-content {
    //min-height: 12vw;
}

#service-header {
    padding: 1rem 2rem;
    margin: auto;
    margin-top: 11vw;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    //@include spacing(margin-bottom, $spacing-double);
    margin-bottom: 12vw;
    max-width: ( $wrapper_width / 2);
    @media screen and (min-width: $tablet-width) {
        padding: 1rem 4rem;
        margin-bottom: 8vw;
        @media screen and (min-width: $desktop-width) {
            margin-bottom: 80px;
        }
    }
  &::after,
  &::before {
    position: absolute;
    z-index: -1;
    content: "";
      width: 100%;
      height: 100%;
      left: 0;
      background-color: inherit;
      transform: skew(0deg,-5deg);
    }
    &::before {
        //@include spacing(top, $spacing-regular);
        top: 2rem;
    }
    &::after {
        //@include spacing(bottom, $spacing-regular);
        bottom: 2rem;
    }

    h1 {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    h2 {
        margin-top: 1rem;
    }

    .service-subtitle {
        @include font(title, regular, h3);
        margin-bottom: 0;
    }
}

#service-content {
    > section {
        color: $blue-regular;
    }
    > section.button-bloc {
        color: inherit;
        a.button:link,
        a.button:visited {
        color: inherit;
        background-color: $white;
        border-color: currentColor;
            &:hover {
                color: $white;
                background-color: $blue-light;
            }
            &:active,
            &:focus {
                color: $white;
                background-color: $blue-regular;
            }
        }
    }
    > section.sub-service {
        color: inherit;
        .item-title,
        a.item-title:link,
        a.item-title:visited, {
            color: inherit;
        }
        a.item-title:hover,
        a.item-title:focus,
        a.item-title:active {
            color: $blue-light;
        }
        .item-content {
            color: $blue-regular;
        }
        a.button:link,
        a.button:visited {
        color: inherit;
        background-color: $white;
        border-color: currentColor;
            &:hover {
                color: $white;
                background-color: $blue-light;
            }
            &:active,
            &:focus {
                color: $white;
                background-color: $blue-regular;
            }
        }
    }
    > section.training-label {
        color: inherit;
        .label-icon {
            background-color: currentColor;
        }
    }
    > section.pre-footer {
        color: inherit;
        background-color: currentColor;
        .wrapper {
            color: $white;
        }
    }
}

#contLoaderPost {
     text-align: center;
     height: 4rem;
     position: relative;
     opacity: 0;
     transition: opacity 0.2s ease;
     &.active {
        opacity: 1;
        #loaderPost {
            animation: loader 2s ease-in-out infinite;
        }
    }
    #loaderPost {
        width: 4rem;
        height: 4rem;
        margin-left: -2rem;
        position: absolute;
        left: 50%;
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
  }