// Used with content-page.php and 'template-parts/hero' template
.has-hero{
    position: relative;
    z-index: 0;
    padding-top: 8vw;
    z-index: 0;
    &::before,
    &::after {
        position: absolute;
        content: "";
        background-image: inherit;
        width: 100%;
        height: 30vw;
        top: 0;
        left: 0;
        z-index: -1;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    }
}
// Background image is defined with php (the_post_thumbnail)
.has-hero::after {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
}
// Background fallback if there is no thumbnail
.has-hero::before {
    background: linear-gradient(to right, $blue-regular, $blue-light);
}
.has-hero + *,
.above-hero {
    z-index: 10;
}