// Style for Gutenberg Core bloc
/*
1 - Global settings (for all blocks)
2 - Embed bloc
3 - Image bloc
4 - Table bloc
*/

/*
#gutenberg-content > *:last-child,
#service-content > *:last-child,
#sub-wrapper-content > *:last-child,
#last-content-before-footer,
#last-section {
  padding-bottom: 10vw;
  @media screen and (min-width: $tablet-width) {
    padding-bottom: 8.5vw;
    @media screen and (min-width: $desktop-width) {
      padding-bottom: 7vw;
    }
  }
}
*/

.last-title {
    padding-top: 4rem;
}

// 1 - Global settings (for all blocks)

// Wrapper behaviour + defautl style
// We use <section> to target the Digitemis blocs. 
// The core blocs do not use the section element.

// Standard template : wrapper
#gutenberg-content > *:not(section) {
    @include wrapper;
}

// Blog template : wrapper-narrow.
#post-content  {
    // Gutenberg-block {
    > section {
        .wrapper,
        &.wrapper {
            @include wrapper-narrow;    
        }

    }
    // Basic bloc
    > *:not(section) {
        @include wrapper-narrow;    
        text-align: left;
        *:first-child {
            padding-top: 0;
        }
        *:last-child {
            padding-bottom: 0;
        }
        li {
            list-style-position: inside;
        }
    }
}

// Archive template : sub-wrapper.
#sub-wrapper-content  {
    //text-align: center;
    overflow: hidden;
    @media screen and (min-width: $wrapper_width - map-get($spacing-double , $desktop_width)) {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    > .full-width {
        width: 100%;
        margin-left: 0;
    }
    > .chapo {
        @include max-width($wrapper_width, $spacing-double);
        @media screen and (min-width: $desktop_width) {
            width: 100%;
        }
    }
    // Gutenberg-block {
    > section:not(.full-width) {
        @include spacing(margin-left, $spacing-regular);
        @include spacing(margin-right, $spacing-regular);
        @include max-width($wrapper_width, $spacing-double);
        padding-left: 0;
        padding-right: 0;
        box-sizing: border-box;
        .wrapper {
            @media screen and (max-width: $mobile_width) {
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }
    // Basic bloc
    > *:not(section) {
        margin: 0;
        //display: block;   
        @include spacing(padding-left, $spacing-regular);
        @include spacing(padding-right, $spacing-regular);
        @include spacing (margin-left, $spacing-regular);
        @include spacing (margin-right, $spacing-regular);
        @media screen and (max-width: $mobile_width) {
            padding-left: 1rem;
            padding-right: 1rem;
        }
        @media screen and (min-width: $wrapper_width - map-get($spacing-double , $desktop_width)) {
          @include max-width($wrapper_width, $spacing-double);
          margin-left: auto;
          margin-right: auto;
        } 
        text-align: left;
        background-color: $white;
        width: 100%;
        box-sizing: border-box;
        *:first-child {
            padding-top: 0;
        }
        *:last-child {
            padding-bottom: 0;
        }
        li {
            list-style-position: inside;
        }
    }
}

// Style inside
#gutenberg-content > *:not(section),
#sub-wrapper-content > *:not(section),
#post-content > *:not(section) {
    @extend .entry-content;
    background: $white;
}

// 2 - Embed bloc (Twitter, Facebook, Instagram, Video …
#gutenberg-content,
#service-content,
#sub-wrapper-content {

    > .wp-block-embed,
    > .wp-block-embed-youtube,
    > .wp-block-video {
    max-width: 100%;
    margin: auto;
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2rem;
        .wp-block-embed__wrapper {
            max-width: 100%;
        }
        figcaption {
            @extend .entry-content;
        }
        iframe {
            max-width: 100%;
        }
    }
}


// 3 - Image bloc - Figure element
.wp-block-image,
.wp-block-image.is-resized {
    max-width: 100%;
    margin: auto !important;
    display: flex;
    flex-flow: column;
    align-items: center;
}

// 4 - Table bloc
.wp-block-table {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    figcaption {
        @extend .entry-content;
    }
}

