.costumers {
  h2 {
    @include font-size(standard, h1);
    @media screen and (min-width: $tablet_width) {
      @include font-size(standard, h1-xl);
    } 
  }
  .wrapper {
    background: $white;
  }
  .costumers-logos {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(120px, 1fr) );
    @media screen and (min-width: $mobile-width) {
      grid-column-gap: map-get($grid-gap, mobile);
      grid-template-columns: repeat( 4, minmax(auto, 250px));
    }
    text-align: center;
    object-fit: contain;
    img {
      width: 100%;
      height: auto;
    }
    a {
      text-align: center;
      margin: auto;
      color: $blue-light;
    }
  }
}
