.header-image {
  &.has-element {
    position: relative;
    @media screen and (min-width: $mobile_width ) {
      &:after {
        @include element-graphique;
        @include spacing(right, $spacing-regular);
        bottom: 4.5vw;
        content:"";
        position: absolute;
        transform: scale(-100%, 100%);
        @media screen and (min-width: $tablet_width ) {
          bottom: 0;
        }
      }
    }
  }
  > div {
    @include spacing(padding-top, $spacing-regular);
    padding-bottom: 6vw;
    background-size: cover;
    background-repeat: no-repeat;
    // Background-fallback, in case wehave no image
    background: $blue-regular;
    //min-height: 50vw;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
  .layout {
    display: grid;
    object-fit: contain;  
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    @include grid-gap;
    @media screen and (min-width: $mobile_width) {
      grid-template-columns: 1fr 1fr;
    }
  }
  .picture img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
  .entry-content img {
    max-width: 50vw;
    @media screen and (min-width: $mobile-width) {
      max-width: 30vw;
    }
  }
}
