.last-posts {
    background: $white;
}
.card-post,
a.card-post {
    display: block;
    text-decoration: none;
    color: $blue-regular;
    margin: 0;
    min-height: 200px;
    background: transparent;
    padding-bottom: 1rem;
    transition: box-shadow .2s;
    &:hover {
        box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    }
    /*
    .post-no-thumbnail {
        width: 100%;
        min-height: 200px;
        background: $grey-lgt;
    }
    */
    img {
        width: 100%;
        height: auto;
    }
    .category,
    h3,
    time,
    .post-excerpt,
    .read-more {
        margin: 0;
        margin-left: 1rem;
        margin-right: 1rem;
        @media screen and (min-width: $tablet-width) {
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
    .category {
        color: $blue-light;
        //@extend .uppercase;
        //text-transform: uppercase;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    h3 {
        margin-bottom: 0.5rem;
    }
    .read-more {
        margin-top: 1rem;
    }
    time {
        position: relative;
        padding-left: 2em;
        font-size: 1rem;
        line-height: 1;
        margin-bottom: 1rem;
        &:before {
            position: absolute;
            content:"";
            bottom: 0.4em;
            left: 0;
            font-size: inherit;
            width: 1.5em;
            height: 2px;
            background-color: $blue-regular;
        }
    }
}

.read-more,
a.read-more {
    color: $blue-light;
    &:link,
    &:visited {
        color: $blue-light;
    }
    &:hover {
        color: $blue-medium;
    }
    &:active,
    &:focus {
        color: $blue-regular;
    }
}

.single-advertising {
    background-color: $white;
}

.single-advertising-title {
    margin-top: 1rem;
}

.post-container {
    display: grid;
    grid-template-columns: 1fr;
    @include grid-gap;
    @media screen and (min-width: $mobile-width) {
        grid-template-columns: 1fr 1fr; 
    }
}
.post-container,
.post-container-regular {
    .active {
        opacity: 1;
        animation: fade-in .2s;
        animation-fill-mode: forwards;
        display: inherit;
    }
    .hidden {
        opacity: 0;
        animation: fade-out .2s;
        animation-fill-mode: forwards;
        visibility: hidden;
        display: none;
    }
}



@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }