.legend-layout {
  display: grid;
  grid-template-columns: 1fr;
  @media screen and (min-width: $mobile_width) {
    grid-template-columns: 1fr 1fr;
  }
  .legend-text {
    padding: 2rem;
  }
  .legend-link {
    width: 100%;
    text-align: right;
    a {
      margin-left: auto;
    }
  }
}