.module-use-case{
    background: $blue-regular;
    @include diagonal('before', top, left, $blue-regular);
    @include diagonal('after', bottom, right, $blue-regular);
    .items-module-case-loop {
        display: grid;
        @include grid-gap;
        grid-template-columns: repeat(1, 1fr);
        @media screen and (min-width: $mobile-width) {
            grid-template-columns: repeat(2, 1fr);
            @media screen and (min-width: $tablet-width) {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
    .element-graphique {
        padding-bottom: 4rem;;
        position: relative;
           &::after {
               position: absolute;
               content: "";
               background: red;
               @include element-graphique;
               left: unset;
               right: 0;
               bottom: 0;
               transform: scale(-100%, 100%) translate(0, 50%);
               z-index: 10;
           }   
       }
}

.abstract-use-case + .module-use-case {
    margin-top: 0;
    padding-top: 2rem;
    &::before {
        display: none;
    }
}