/* Custom Style for wpcf7 Pluggin */
.wpcf7 {
    
    // Block is centered
    margin: auto;
    // Block has margin
    @include spacing(padding-top, $spacing-regular);
    @include spacing(padding-bottom, $spacing-regular);

    form {

        // Form width
        @include wrapper-narrow;
        
        // Input style
        input:not(.button),
        textarea {
            background: $grey-lgt;
        }

        // Label style
        label > span > *{
            margin-top: 0.75em;
        }


    }
}

// Submit Button is centered
#content .wpcf7 input[type="submit"].wpcf7-submit {
    display: flex;
    margin: auto;
}