// Style used for several Gutenberg blocs : 
// Bloc step-use-case | Bloc step-company | Bloc step-testimonial

.step-use-case {
    color: $blue-regular;
    overflow: hidden;
    .underline {
        max-width: 100%;
        @media screen and (min-width: $tablet_width) {
            max-width: 50%
        }
    }
    .steps-use-case-loop-item {
        display: grid;
        @media screen and (min-width: $mobile_width) {
            margin-bottom: 4rem;
        }
        
        &:last-of-type {
            margin-bottom: 2rem;
        }
        grid-template:  "content"
                         "illustration";
        grid-template-columns: 1fr;
        @media screen and (min-width: $mobile_width) {
        grid-template: "content illustration";
        grid-template-columns: 1fr 1fr;
            &:nth-child(even) {
                grid-template: "illustration content";
                grid-template-columns: 1fr 1fr;
    
                .steps-use-case-historic,
                .steps-use-case-loop-item-content {
                    padding-left: 5vw;
                }
                .steps-use-case-year,
                .steps-use-case-aside {
                    text-align: left;
                    padding-left: 0;
                    padding-right: 6vw;
                    &.aside-padding {
                        padding-right: 8vw;
                    }
                }
                .steps-use-case-loop-item-illustration {
                    text-align: right;
                    &::before {
                        left: unset;
                        right: 5vw;
                    }
                    &::after {
                        left: 0;
                        right: unset;
                        transform: scale(100%, 100%);
                    }
                }
            }
        }
    }
    .steps-use-case-loop-item-historic {
        // Layout variation for mobile only
        @media screen and (max-width: $mobile_width) {
            grid-template: "illustration" "content"; // Year + picture first, then content
        }
    }

    .steps-use-case-loop-item-content {
        display: grid;
        grid-template-columns: 90px auto;
        align-content: start;
        @media screen and (min-width: $mobile_width) and (max-width: 600px) {
            grid-template-columns: 1fr;
        }
        grid-gap: 1rem;
    }
    .grid-content-is-centered {
        align-content: center;
    }
    .steps-use-case-historic,
    .steps-use-case-loop-item-content {
        @media screen and (min-width: $mobile_width) {
            padding-right: 5vw;
        }
    }
    .steps-use-case-historic {
        margin-bottom: 2rem;
        margin-top: 2rem;
        @media screen and (min-width: $mobile_width) {
            margin-bottom: 0;
            margin-top: 3rem;
        }
    }


    .steps-use-case-number {
        float: left;
        width: 90px;
        height: 80px;
        padding: 15px;
        padding-right: 25px;
        box-sizing: border-box;
        .number {
            @include font(title, black, number-small);
            position: absolute;
            top: 0;
            left: 0;
            line-height: 1;
            z-index: 10;
        }
        img {
            width: 100%;
            height: auto;
        }
    }

    .steps-use-case-year,
    .steps-use-case-aside {
        display: block;
        margin: 2rem 0;
        color: $white;
        text-align : left;
        @media screen and (min-width: $mobile_width) {
            text-align: right;
            padding-left: 6vw;
            &.aside-padding {
                padding-left: 8vw;
            }
        }
        
    }

    .steps-use-case-year {
        @include font(title, bold, h2);
        @media screen and (min-width: $tablet_width) {
            @include font-size(title, h2-xl);
        }
    }

    .steps-use-case-loop-item-illustration {
        @media screen and (max-width: $mobile_width) {
            > *:first-child {
                margin-top: 2rem;
            }
            > *:last-child {
                margin-bottom: 2rem;
            }
        }
    }

    .steps-use-case-loop-item-content{
        @media screen and (max-width: $mobile_width) {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    }

    .steps-use-case-loop-item-illustration {
        //padding: 1rem 0;
        text-align: left;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            background: $blue-regular;
            z-index: -1;
            height: 100%;
            //top: 5vw;
            top: 0;
            width: 100vw;
            left: - map-get($spacing-regular , $mobile-width );
            @media screen and (min-width: $mobile_width) {
                top: -2rem;
                width: 45vw;
                left: 5vw;
            }
        }
        img {
            width: auto;
            max-width: 100%;
            height: auto;
        }
        img + img {
            margin-top: 1rem;
        }
        // When there is element-graphique : 
        &.has-element {
            @media screen and (min-width: $mobile-width) {
                                // when  image gets smaller
                margin-bottom: 2rem;
                img {
                    width: 50%;
                    height: auto;
                }
                &::after {
                    height: 4rem;
                    width: auto;
                    position: absolute;
                    content: "";
                    background: red;
                    @include element-graphique;
                    left: unset;
                    right: 0;
                    bottom: -1rem;
                    transform: scale(-100%, 100%);
                }

            }
        }
    }
}


#sub-wrapper-content > .steps-testimonials {
    overflow: visible;
}