.banner-testimonial {
  //color: $white;
  background-color: $blue-regular;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include spacing(padding-top, $spacing-regular);
  @include spacing(padding-bottom, $spacing-regular);
  p {
    margin: 0;
  }
  .testimonial-author {
    margin: 1rem 0;
    color: $blue-light;
    &.white-author {
      color: $white;
    }
    bold {
      @include font(standard, bold);
    }
  }
  /*
  Accessibility - readibility safety
  .has-bg-image {
    a.button {
      background-color: $blue-regular;;
    }
  }
  */

}

/*
Add a Color filter on background-image
.bg-testimonial {
  position: relative;
  &::after {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($blue-regular, 0.9);
    z-index: 1;
  }
  .bg-testimonial-above {
    position: relative;
    z-index: 100;
  }
}
*/


.synthesis {
  @include spacing(padding-top, $spacing-regular);
  .section-title {
    margin-bottom: 2rem;;
  }
  .bloc-link {
    margin-top: 2rem;
  }
}

.next-testimonial {
  @include spacing(padding-top, $spacing-regular);
  @include spacing(padding-bottom, $spacing-regular);
  .bloc-link {
    margin-top: 0;
  }
}