.label {
    .label-container {
        position: relative;
        margin: 0;
        padding: 0;
        margin-top: 40px;
    }
    .label-icon {
        width: 80px;
        height: 80px;
        padding: 15px;
        background: $blue-regular;
        object-fit: contain;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(0, -50%);
        &::before {
            position: absolute;
            content:"";
            left: 110px;
            top: 0;
            width: 0;
            height: 0;
            border-bottom: 55px solid darken($blue-regular, 10);
            border-right: 20px solid transparent;
            }
        img {
            width: 100%;
            height: auto;
        }

    }
    .label-grid {
        object-fit: contain;
        display: grid;
        grid-template: "illustration" 
                             "content" auto / auto;
        @media screen and (min-width: $mobile-width) {
            grid-template: "illustration content" 1fr / 1fr 1fr;
        }
        .label-illustration {
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .label-content {
            img {
                display: block;
                width: auto;
                max-width: 100%;
                height: auto;
                
            }
            padding: 1rem;
            @media screen and (min-width: $mobile-width) {
                padding: 2rem;
                @media screen and (min-width: $tablet-width) {
                    padding: 3rem;
                }
            }
            :first-child {
                margin-top: 0;
            }
        }
    }
}