.training-bloc {

    .training-loop-item {
        display: grid;
        padding: 4rem 0;
        grid-template:  "content"
                         "illustration";
        grid-template-columns: 1fr;
        @media screen and (min-width: $mobile_width) {
        grid-template: "content illustration";
        grid-template-columns: 1fr 1fr;
        }
    }
    .grid-content {
        @media screen and (min-width: $mobile_width) {
            padding-right: 4rem
        }
        .left-icon {
            position: relative;
            &:before {
                content:"";
                position: absolute;
                left: 0;                
                background:  center / contain no-repeat url("./image/check.svg");
                transform: translate(-100%, 0);
                @include spacing(width, $spacing-regular);
                @include spacing(height, $spacing-regular);
                @media screen and (min-width: $desktop-width) {
                    font-size: inherit;
                    margin-top: -0.25em;
                }
            }
        }
    }
    h2 {
        margin-top: 0;
    }
    .image-illustration {
        object-fit: cover;
        //overflow: hidden;
        @media screen and (max-width: $mobile_width) {
            padding: 1rem 0;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    .blue-background-trick {
        padding: 1rem 0 ;
        @media screen and (min-width: $mobile_width) {
            padding-left: 1rem;
        }
        text-align: left;
        color: $white;
        position: relative;
        img {
            margin-right: 0;
            display: block;
            //float: right;
            margin-left: auto;
            width: auto;
            max-width: 100%;
            height: auto;
            margin-top: 1rem;
        }
        &::before {
            position: absolute;
            content: "";
            background: $blue-regular;
            z-index: -1;
            height: 100%;
            top: Ovw;
            width: 100vw;
            left: - map-get($spacing-regular , $mobile-width );
            @media screen and (min-width: $mobile_width) {
                top: 0;
                width: 50vw;
                left: 0;
            }  
        }
        @media screen and (min-width: $mobile_width) {
            text-align: right;
            margin-top: 3rem;
            padding-left: 4rem;
        }
    }
    .training-bg-trick {
        @media screen and (min-width: $mobile_width) {
            position: relative;
            &:before {
                position: absolute;
                content: "";
                top: -4rem;
                left: 0;
                width: 50vw;
                height: 8rem;
                background-color: $blue-regular;
                z-index: -10;
            }
        }
    }
}