.way {
  @include diagonal('before', top, left, $blue-regular);
  //@include diagonal('after', bottom, right, $blue-regular);
  background-color: $blue-regular;
  padding-top: 2rem;
  @include spacing(padding-bottom, $spacing-regular);
  // Section title
  .section-title {
    margin-bottom: 4rem;
  }
  // Item title
  h3 {
    // Default style
    margin-top: 0;
    line-height: 1.2;
    @include font(title, bold, h2);
    @media screen and (min-width: $tablet_width) {
      @include font-size(title, h2-xl);
    }
    // Style changes when there is a subtitle
    &.has-subtitle {
      line-height: 1;
      color: $blue-light;
      @include font(title, black, h2);
      @media screen and (min-width: $tablet_width) {
        @include font-size(title, h2-xl);
      }
    }
    // Item Subtitle
    span {
      color: $white;
      line-height: 1;
      @include font(standard, bold, h3);
      @media screen and (min-width: $tablet_width) {
        @include font-size(standard, h3-xl);
      }
    }
  }
  .way-loop {
    max-width: 900px;
    margin: auto;
  }
  // Item Illustration
  .way-loop-item {
    width: 100%;
    text-align: left;
    display: grid;
    @include grid-gap;
    margin-bottom: 4rem;
    &:last-of-type {
      margin-bottom: 2rem;
    }
    grid-template:  "illustration"
                    "content" auto / auto;
    &:nth-child(even) {
      text-align: right;
      .underline::after {
        right: 0;
        left: unset;
      }
      .number {
        padding-right: 0;
        padding-left: 0.5em;
      }
    }
    @media screen and (min-width: $mobile_width) {
      grid-template: "illustration content" auto / 1fr 2fr;
      align-items: center;
      &:nth-child(even) {
        grid-template: "content illustration" auto / 2fr 1fr;
      }
      @media screen and (min-width: $desktop_width) {
        grid-template: "illustration content" auto / 200px 2fr;
        &:nth-child(even) {
          grid-template: "content illustration" auto / 2fr 200px;
        }
      }
    }
  }
  a.button {
    margin: 4rem auto;
  }
  .way-loop-item-illustration {
    position: relative;
    img {
     // filter: brightness(4) saturate(0%);
      width: 80px;
      height: auto;
    }
    &.has-number {
      margin-top: map-get(map-get($fonts, title), number) / 2.5; // is half .number font-size
      @media screen and (min-width: $mobile_width) {
          margin-top: map-get(map-get($fonts, title), number-xl) / 2.5;
      }
    }
  }
  .number {
    @include font(title, black, number);
    @media screen and (min-width: $mobile_width) {
        @include font-size(title, number-xl);
    }
    color: #306d8e;
    position: absolute;
    left: 50%;
    top: -0.5em;
    transform: translate(-50%, 0);
    line-height: 1;
    padding-right: 0.5em;
  }
  .way-loop-item-illustration-size {
    text-align: center;
    padding: 30px;
    @media screen and (min-width: $desktop_width) {
      height: 200px;
      padding: 60px;
      box-sizing: border-box;
    }
  }
  .way-loop-item-content {
    a:link {
      color: $blue-light;
    }
    a:visited {
      color: $grey-form;
    }
  }
}
